@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MERLIN</h1>
    <p class="lead">Merlin is the best website to buy high quality bottles.</p>
    <p><a href="https://localhost:44326/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

